/*Anirudh Kumar Subramanyam
CSE 154 AI
This css file contains the stylistic features shared by all the pages for my portfolio */

/*html, body {*/
  /* animation: fadein 2s;*/
  /*-webkit-animation: fadein 1s;*/
/*}*/

/*@-webkit-keyframes fadein { /* Safari and Chrome 
/*    from {*/
/*      opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
html {
  min-height: 100%;
  position: relative;
}

#my_body {
  /*font-family: "Avenir Next";*/
  font-family: Lato;
  font-weight: lighter;
  font-size: 12pt;
  background-color:	#FFFAFA;
  margin-bottom: 150px;
}



.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    /*position: absolute;*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color: #818181;
    display: block;
    transition-delay: 1s;
    transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); /*THINK ABOUT THIS*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
#close_button {
    position: absolute;
    top: 0;
    right: 0px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



main {
  padding-bottom: 30px;
  
}

.my_header {
  font-weight: normal;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

hr {
  clear: both;
  border: none;
  height: 2px;
  background-color: #333; 
}

a {
  display: inline-block;
  width: inherit;
}

.footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 12pt;
  background-color: rgba(0, 0, 0, 0.09);
  ;
}

#close_button, #nav_button, .footer .fa {
  cursor: pointer;
  font-size: 18pt;
  color: black;
  opacity: 0.5;
  transition: 0.5s ease;
  padding: 5px;
}

#close_button {
  color: white;
}

#close_button:hover, #nav_button:hover, .footer .fa:hover {
  opacity: 1 !important; 
  transform: scale(1.1);
  
}

