.my-footer {
    background-color: rgba(197, 197, 197, 0) !important;
    color: black !important;
    /* border-top: solid 0.5px gray; */
    height: 200px !important;
}
.footer-copyright {
    color: black !important;
}